@import url(../bulma-1.0.4/css/bulma.min.css);
@import url(../fontawesome-free-7.0.1/css/all.min.css);
@import url(./color-pallette.css);

/* ---------------------------------------------------
   GLOBAL / UTILITIES
---------------------------------------------------- */

.is-sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-logo {
  margin: auto;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.output {
  width: 22%;
  font-weight: 900;
  margin: 10px auto 0 auto;
  border-bottom: 2px solid black;
  color: rgb(8, 174, 83);
}

/* ---------------------------------------------------
   CLEAN CARD COMPONENT
---------------------------------------------------- */

.clean-card {
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 15px 20px rgba(40, 41, 41, 0.15);
  /* border: 4px solid var(--primary); */
}

.clean-header {
  padding: 14px 0;
  color: black !important;
  border-top: 4px solid var(--accent);
  border-radius: 12px 12px 0 0;
}

.card-content {
  padding: 1.5rem 1.2rem;
}

.field {
  margin-bottom: 1rem;
}

.clean-output {
  padding: 1.2rem;
}

.card-footer {
  border-radius: 0 0 12px 12px;
}
