@import url(../bulma-1.0.4/css/bulma.min.css);
@import url(../fontawesome-free-7.0.1/css/all.min.css);

/* body {
  background: rgb(227, 227, 227);
} */

.is-sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.card {
  -webkit-box-shadow: 4px 2px 21px 4px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 4px 2px 21px 4px rgba(0, 0, 0, 0.53);
  box-shadow: 4px 2px 21px 4px rgba(0, 0, 0, 0.53);
}
