<nav
  class="navbar is-dark is-sticky"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start is-justify-content-center">
      <a href="#home" class="navbar-item nav-item" data-target="#homeContent">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Bicycle Tools</a>

        <div class="navbar-dropdown">
          <a
            href="#chain-length"
            class="navbar-item nav-item"
            data-target="#chainLengthContent"
          >
            Chain Length Calculator
          </a>

          <a
            href="#saddle"
            class="navbar-item nav-item"
            data-target="#saddleHeightContent"
          >
            Saddle Height Calculator
          </a>

          <a
            href="#gear-ratio"
            class="navbar-item nav-item"
            data-target="#gearRatioContent"
          >
            Gear Ratio Calculator
          </a>

          <a
            href="#tire-pressure"
            class="navbar-item nav-item"
            data-target="#tirePressureContent"
          >
            Tire Pressure Guide
          </a>

          <a
            href="#bike-fit"
            class="navbar-item nav-item"
            data-target="#bikeFitContent"
          >
            Bike Fit Measurement
          </a>

          <a
            href="#frame-size"
            class="navbar-item nav-item"
            data-target="#frameSizeContent"
          >
            Frame Size Estimator
          </a>

          <a
            href="#power-speed"
            class="navbar-item nav-item"
            data-target="#powerSpeedContent"
          >
            Power / Speed Estimator
          </a>

          <hr class="navbar-divider" />
          <a
            class="navbar-item nav-item"
            href="#all-tools"
            data-target="#allToolsContent"
          >
            All Tools
          </a>
        </div>
      </div>

      <a
        href="#maintenance"
        class="navbar-item nav-item"
        data-target="#maintenanceContent"
      >
        Maintenance Tips
      </a>

      <a
        href="#parts-guide"
        class="navbar-item nav-item"
        data-target="#partsGuideContent"
      >
        Bike Parts Guide
      </a>
    </div>
  </div>
</nav>
